<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
		</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
	<title>東吳學生新冠肺炎自主通報地圖</title>
</head>
<header>

	<div class="container">
		<div class="row">
			<p class="fs-1" style="text-align: center;">東吳學生新冠肺炎自主通報地圖</p>
		</div>
		<div class="row">
			<p class="text-decoration-underline" style="text-align: center;">此平台非東吳大學官方平台 所有資料皆為同學自主上傳 請自行衡量資料 並判別假消息
				本網站不會承擔任何責任</p>
		</div>
</header>

<body>

	<div class="container">
		<div class="row">
			<p class="fw-bold">真實訊息涉及個人資料 請查看衛福部發布</p>
			<p>疫調資訊應以中央流行疫情指揮中心或是各縣市政府統一發布為準確。</p>
		</div>
		<div class="row">
			<p class="fw-bold">都大學了冷靜判斷資訊來源 避免獵巫或是人身攻擊</p>
			<p>看到相關資訊時，切勿隨意轉傳，請先冷靜查證消息來源及內容，本網站資料皆由學生自主上傳，不保證所以資料完全正確。面對確診者或疑似感染者，應發揮同理心，沒必要獵巫，
				互相信任方能建立讓感染者坦誠以告的環境，才能有效釐清感染源，防範其他人染疫。</p></br>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<p class="fs-4" style="text-align: center; font-weight:bold;">目前學校累積確診人數</p>
			<p class="fs-2" th:text="${count}+'人'" id="count" style="text-align: center; color: red; font-weight:bold;">
				人</p>
		</div>
		<div class="row">
			<p>若您與確診足跡重疊，或者有呼吸道症狀，請勿驚慌，查看cdc官方指引。</br></br>
				以下為目前所有通報資料</p></br></br>
		</div>
	</div>
	<div class="container">
		<table class="table table-hover" data-toggle="table" data-pagination="true" id="userlist">
			<thead>
				<tr>
					<th scope="col" data-sortable="true">系級</th>
					<th scope="col" data-sortable="true">檢測確診方式</th>
					<th scope="col" data-sortable="true">確診日期</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data :${data}">
					<td th:text="${data.dept}+${data.grade}+${data.classname}+'班'"></td>
					<td th:text="${data.method}"></td>
					<td th:text="${data.date}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>系級</th>
					<th>檢測確診方式</th>
					<th>確診日期</th>
				</tr>
			</tfoot>
		</table>
	</div>
	</br></br>
	<div class="container">
		<table class="table table-hover" data-toggle="table" data-pagination="true">
			<thead>
				<tr>
					<th scope="col" data-sortable="true">大樓</th>
					<th scope="col" data-sortable="true">教室</th>
					<th scope="col" data-sortable="true">足跡時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tracklist :${tracklist}">
					<td th:text="${tracklist.building}"></td>
					<td th:text="${tracklist.classroom}"></td>
					<td th:text="${tracklist.truck_date}+'  '+${tracklist.truck_time}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>大樓</th>
					<th>教室</th>
					<th>足跡時間</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<footer class="bg-light text-center text-lg-start">
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2022 東吳資管Howard &ensp;
			<a class="text-reset fw-bold" href="mailto:a22511234@gmail.com">Send me mail</a>
		</div>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>


</html>